@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollDiv {
    scroll-snap-type: x mandatory;
}

.scrollDiv::-webkit-scrollbar {
    display: none;
}

.loginSpin {
    animation: loginSpin infinite 1s;
}

@keyframes loginSpin {
    from {
        transform: translateX(-50%) translateY(-100%) rotate(0deg);
        transform-origin: center;

    }

    to {
        transform: translateX(-50%) translateY(-100%) rotate(360deg);
        transform-origin: center;

    }
}